h1 {
    font-family: "Arvo";
    font-size: 30px;
}

h2 {
    font-family: "Arvo";
    font-size: 20px;
}

h3 {
    font-family: "Arvo";
    font-size: 10px;
}

p {
    font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
