/*font-family: 'Arvo', serif;
font-family: 'Merriweather Sans', sans-serif;*/

body{
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-family: "Arvo";
    font-size: 35px;
    text-align: center;
}

h2 {
    font-family: "Arvo";
    font-size: 20px;
    text-align: center;
}

h3 {
    font-family: "Arvo";
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    color: grey;
}

p {
    font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

img#image1{
    text-align: right;
    width: 40%;
    float: right;
    margin: 0 0 0 15px;

}

img#image2 {
    width: 50%;
}


img#image3 {
    width:100%;
}
img#image4 {
    width:100%;
}

img#image5 {
    width: 40%;
    padding: 50px;
}

img#image6 {
    width:60%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.image figcaption {
    text-align: center;
}

a#windows {
    text-align: center;
}

img#map {
    width:20%;
    text-align: right;
    float: right;
    margin: 0 0 0 15px;
}


.caption {
    padding-top: 0;
}

h6 {
    color: darkgrey;
}

.side {
    display:flex;
    margin-left: 0;
    margin-right: 0;
}

.side h6 {
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

a {
    color: blue;
}

figcaption {
    color: darkgrey;
}

.link {
    padding: 20px;
    font-style: italic;
    text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
  blockquote h4 {
       display: inline;
       font-size: 20px;
       color: darkblue;
  }
